@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    &__input {
        padding: 10px;
        border-radius: 10px;
        outline: none;
        margin-bottom: 1rem;
        width: 15rem;
    }

    &__btn {
        padding: 5px;
        width: 10rem;
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 500;
        color: white;
        background-color: orange;
        font-size: clamp(1rem, 5vw, 1.3rem);

        &:hover {
            transition: width 2s, height 4s;
            font-weight: 700;
        }
    }
}